{% extends '::base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/rgmelibreriaventas/css/ticket.css') }}" type="text/css" rel="stylesheet" />	
{% endblock %}

{% block body %}
<div id="albaran_contenedor">
	<header id="albaran_header">
		<div class="imagen_ticket"></div>
		<h1>Librería Entre Líneas</h1>
		<div class="info">
			<div class="titulo">Tel:</div>
			<div class="valor">954342748</div>
		</div>
		<div class="info">
			<div class="titulo">Dir:</div>
			<div class="valor">San Jacinto Nº96</div>
		</div>
		<div class="info">
			<div class="titulo"></div>
			<div class="valor">41010 Sevilla</div>
		</div>
		<div class="info separacion">
			<div class="titulo">Factura simplificada</div>
		</div>
		<div class="info">
			<div class="titulo">Venta nº:</div>
			<div class="valor">3442</div>
		</div>
		<div class="info">
			<div class="titulo">Fecha:</div>
			<div class="valor">15/05/2048</div>
		</div>
	</header>
	<section id="albaran_cuerpo">
		<table>
			<tr>
				<th>Titulo</th>
				<th>P.V.s/i</th>
				<th>%IVA</th>
				<th>P.V.c/i</th>
				<th>UDS.</th>
				<th>Importe</th>
			</tr>
			<tr>
				<td>OXF-Dicc.Oxford Study + CD</td>
				<td>27.45</td>
				<td>4.00</td>
				<td>28.55</td>
				<td>1</td>
				<td>28.55</td>
			</tr>
			<tr>
				<td>Guia de los movimientos</td>
				<td>27.00</td>
				<td>4.00</td>
				<td>27.50</td>
				<td>1</td>
				<td>27.50</td>
			</tr>
			<tr>
				<td>OXF-Dicc.Oxford Study + CD</td>
				<td>27.45</td>
				<td>4.00</td>
				<td>28.55</td>
				<td>1</td>
				<td>28.55</td>
			</tr>
			<tr>
				<td>OXF-Dicc.Oxford Study + CD</td>
				<td>27.45</td>
				<td>4.00</td>
				<td>28.55</td>
				<td>1</td>
				<td>28.55</td>
			</tr>
		</table>
	</section>
	<footer id="albaran_footer">
		<section class="total_base">
			Total Base: 32.47€
			Total IVA: 1.30€
			Total REC: 0.16€ 
		</section>
		<section class="total">
			TOTAL: 33.93€
			Entregado: 40€
			Vuelta: 6.07€
		</section>
		<section class="impuestos">
			<table>
				<tr>
					<th>I.V.A.</th>
					<th>REC.</th>
					<th>Base Imponible</th>
					<th>IMP I.V.A.</th>
					<th>IMP REC.</th>
				</tr>
				<tr>
					<td>4.00%</td>
					<td>0.50%</td>
					<td>32.47€</td>
					<td>1.30€</td>
					<td>0.16€</td>
				</tr>
			</table>
		</section>
		<h2>Gracias por su visita.</h2>
	</footer>
</div>
{% endblock %}