{% extends 'RGMELibreriaIndexBundle::layout.html.twig' %}

{% block contenido %}
	<a title="{{ titulo_crear }}" class="crear" href="{{ path(ruta_form_crear) }}">{{ titulo_crear }}</a>
	{% include 'RGMELibreriaIndexBundle:Grid:grid.html.twig' %}
{% endblock %}