{% extends 'RGMELibreriaIndexBundle::layout.html.twig' %}

{% block contenido %}
<div id="marco">
	<div id="cuerpo_marco">
		<div class="form_s">
			{% if ruta_crear %}<a title="Crear Nuevo {{ subseccion }}" class="crear" href="{{ path(ruta_crear) }}">Crear Nuevo {{ subseccion }}</a>{% endif %}
						
			{% include 'RGMELibreriaIndexBundle:Grid:grid.html.twig' %}
		    
		    {% block ventana_modal %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}