.form > div > div{
	margin: 10px;
}

.form label {
	margin-left: 10px; 
	color: #999999; 
	
	}


.form textarea { 
	width: 400px;
	max-width: 400px;
	border: 1px solid #E5E5E5;
	height: 150px;
	line-height: 150%;
	}


.cajaEleccionEntidades{
	width: 500px;
	border: 1px solid;
	border-radius: 3px;
	padding: 10px;
	height: 100px;
	
	overflow: hidden;
	overflow-y: auto;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas{
	border: 1px solid #000;
	
	margin-bottom: 10px;
	
	overflow: hidden;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div{
	clear: both;
}

.add_div{
	text-align: right;
}

.delete_element{
	float: right;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div > label{
	display: none;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div > div > div{
	float: left;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div > div > div > label{
	display: none;
}

