@import url('Albaran/LineaAlbaran.css');

.form > div > div{
	margin: 10px;
}

.form label {
	margin-left: 10px; 
	color: #999999; 
	
	}


.form textarea { 
	width: 400px;
	border: 1px solid #E5E5E5;
	height: 150px;
	line-height: 150%;
	}


.cajaEleccionEntidades{
	width: 440px;
	float: right;
	border: 1px solid;
	border-radius: 3px;
	padding: 10px;
	height: 100px;
	
	overflow: hidden;
	overflow-y: auto;
}

.cajaEleccionEntidades .busqueda{
	margin: 0 auto;
	display: block;
	margin-bottom: 5px;
	margin-top: -5px;

	width: 400px;
	float: none;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;

	font-size: 11px;
	padding: 5px 10px;
}

.cajaEleccionEntidades input, .cajaEleccionEntidades label{
	margin: 10px 10px;
}

.cajaEleccionEntidades input{
	float: left;
	clear: both;
}

.cajaEleccionEntidades label{
	float: left;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas{
	margin: 10px 0px;
	
	overflow: hidden;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div{
	clear: both;
}

.add_div{
	text-align: right;
	
	margin: 5px;

	font-size: 9px;
}

.delete_element{
	width: 40px;

	font-size: 9px;
	margin: 5px;

	float: right;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div > label{
	display: none;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div > div > div{
	float: left;
}

#rgm_e_libreria_suministrobundle_crearalbarantype_lineas > div > div > div > label{
	display: none;
}

