			<nav>
				<ul>
					<li class="menu_titulo"><a href="#">Libros</a></li>
						<li class="menu_enlace"><a href="{{ path('rgarcia_entrelineas_libro_homepage') }}">Gestion de Libros</a></li>
						<li class="menu_enlace"><a href="{{ path('rgarcia_entrelineas_autor_homepage') }}">Gestion de Autores</a></li>
						<li class="menu_enlace"><a href="#">Gestion de Editoriales</a></li>
						<li class="menu_enlace"><a href="#">Gestion de Estilos</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo"><a href="#">Suministros</a></li>
						<li class="menu_enlace"><a href="#">Gestion de Bancos / Avales</a></li>
						<li class="menu_enlace"><a href="#">Gestion de Distribuidoras</a></li>
						<li class="menu_enlace"><a href="#">Gestion de Contratos de Suministro</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo"><a href="#">Procedimientos de Suministro</a></li>
						<li class="menu_enlace"><a href="#">Gestion de lotes</a></li>
						<li class="menu_enlace"><a href="#">Creacion de nuevo lote</a></li>
						<li class="menu_enlace"><a href="#">Recepcion de lotes</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo"><a href="#">Estadisticas</a></li>
						<li class="menu_enlace"><a href="#">Libros vendidos</a></li>
						<li class="menu_enlace"><a href="#">Libros por vender</a></li>
						<li class="menu_enlace"><a href="#">Libros a devolver</a></li>
				</ul>
			</nav>