<div class="ejemplar-%idEjemplar% ejemplar">
	<h5>
		<div class="borrarEjemplar">-</div>
		<div class="estadoEjemplar sinActualizar"></div>
		<div class="jaula-ejemplar-titulo">Ejemplar %idEjemplar%</div>
		<div class="jaula-ejemplar-localizacion">
			<label>Localización</label>
			<select name="localizacion-ejemplar">
				<option>Seleccione una localización</option>
				{% for l in localizaciones %}
					<option value="{{ l.id }}">{{ l.denominacion }}</option>
				{% endfor %}
			</select>
		</div>
	</h5>
	<div class="cuerpo-ejemplar">
		<div class="cuerpo-ejemplar-datos">
			<div>
				<div class="jaula-ejemplar-dato precio">
					<label>Precio</label>
					<input class="moneda" type="text">€
				</div>
			</div>
			<div>
				<div class="jaula-ejemplar-dato iva">
					<label>IVA</label>
					<input class="porcentaje" type="text">%
				</div>
			</div>
			<div class="ultimo">
				<div class="jaula-ejemplar-dato descuento">
					<label>Descuento</label>
					<input class="porcentaje" type="text">%
				</div>
			</div>
		</div>
		<div class="cuerpo-ejemplar-estados">
			<div class="jaula-cuerpo-ejemplar-estados">
				<div>
					<input type="checkbox">
					<label>Vendido</label>
				</div>
				<div>
					<input type="checkbox">
					<label>Adquirido por la Librería</label>
				</div>
			</div>
		</div>
		<input type="submit" class="ejemplarSubmit" value="Actualizar">
	</div>
</div>