<div class="jaula-datos-libro">
	<div class="jaula-datos-texto">
		<h4>Datos del Libro</h4>
		<div class="jaula-datos-libro-isbn">
			<label class="datos-libro-titulo">ISBN</label>
			<input class="datos-libro-input" maxlength="13" name="isbn" type="text">
		</div>
		<div class="jaula-datos-libro-titulo">
			<label class="datos-libro-titulo">Titulo</label>
			<input class="datos-libro-input" name="titulo" type="text">
		</div>
		<div class="ultimo">
			<label class="datos-libro-titulo">Editorial</label>
			<input class="datos-libro-input" name="editorial"type="text">
		</div>
	</div>
	<div class="jaula-datos-entidades">
		<div>
			<label class="datos-libro-titulo">Autores</label>
			<div class="cajaEleccionEntidades autores">
				{% for autor in autores %}
					<input type="checkbox" name="autores[]" value="{{ autor.id }}">
					<label>{{ autor }}</label>
				{% endfor %}
			</div>
		</div>
		<div>
			<label class="datos-libro-titulo">Estilos</label>
			<div class="cajaEleccionEntidades estilos">
				{% for estilo in estilos %}
					<input type="checkbox" name="estilos[]" value="{{ estilo.id }}">
					<label>{{ estilo.denominacion }}</label>
				{% endfor %}
			</div>
		</div>
	</div>
	<input type="submit" value="Actualizar Datos">
</div>