<div class="jaula-ejemplares-libro">
	<div class="jaula-ejemplares-titulo">
		<div class="anadirEjemplar">+</div>
		<h4>Ejemplares</h4>
	</div>
	<div class="jaula-ejemplares">
		<div class="ejemplar-1 ejemplar">
			<h5>
				<div class="borrarEjemplar">-</div>
				<div class="estadoEjemplar sinActualizar"></div>
				<div class="jaula-ejemplar-titulo">Ejemplar 1</div>
				<div class="jaula-ejemplar-localizacion">
					<label>Localización</label>
					<select>
						<option>Seleccione una localización</option>
						<option>A3</option>
						<option>A4</option>
						<option>A5</option>
					</select>
				</div>
			</h5>
			<div class="cuerpo-ejemplar">
				<div class="cuerpo-ejemplar-datos">
					<div>
						<label>Precio</label>
						<input type="text">
					</div>
					<div>
						<label>IVA</label>
						<input type="text">%
					</div>
					<div class="ultimo">
						<label>Descuento</label>
						<input type="text">%
					</div>
				</div>
				<div class="cuerpo-ejemplar-estados">
					<div class="jaula-cuerpo-ejemplar-estados">
						<div>
							<input type="checkbox">
							<label>Vendido</label>
						</div>
						<div>
							<input type="checkbox">
							<label>Adquirido por la Librería</label>
						</div>
					</div>
				</div>
				<input type="submit" value="Actualizar">
			</div>
		</div>
	</div>
</div>