{% if vm.opciones.error %}
<article class="error">
	<p><span class="titulo">Error en el login:</span> <span class="mensaje">{{ vm.opciones.error.message }}</span></p>
</article>
{% endif %}
<article class="formulario">
	<form method="POST" action="{{ vm.opciones.ruta_login }}"> 
		<fieldset class="login">
			<label for="user">Usuario</label>
			<input class="reg" name="_username" type="text" value="{{ vm.opciones.last_username }}" />
			<label for="pass">Password</label>
			<input class="reg" name="_password" type="password" />
		</fieldset>
		<input class="boton" type="submit" value="Entrar" />
	</form>
</article>