{% extends 'RGMELibreriaIndexBundle::layout.html.twig' %}

{% block contenido %}

<div id="marco">
	<h1 class="titulo_secc">{% block titulo_seccion %}{% endblock %}</h1>
	
	{% block menu_secc %}
		<nav class="nav_marco">
		{% block menu_include %}{% endblock %}
		</nav>
	{% endblock %}
	
	<div id="cuerpo_marco">
		<div class="form_s">
			{% block cuerpo_marco %}{% endblock %}
		</div>
	</div>
</div>

{% endblock %}