#seleccionInforme{
	overflow: hidden;
	border: 1px solid #AAA;
	padding: 2px 20px;
	border-radius: 5px;
}

#seleccionInforme div.form{
	float: right;
	margin: 0 20px;
}

#seleccionInforme div.form > div{
	width: auto !important;
}

#seleccionInforme div.form > div > div{
	float: left;
	margin: 0px;
}

#seleccionInforme input.submit{
	float: right;
	font-size: 10px;
}

#seleccionInforme label{
	margin-right: 10px;
	margin-top: 8px;
	width: 50px;
}

#seleccionInforme select{
	width: auto !important;
	height: auto !important;
	margin-top: 1px !important;
}

#resultadoBusqueda{
	overflow: hidden;
	border: 1px solid #AAA;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
}

#resultadoBusqueda h3{
	font-size: 15px;
	font-weight: 800;
	border-bottom: 1px solid #AAA;
	text-align: right;
}

#resultadoBusqueda section{
	margin: 0 0 20px 0;
	padding: 10px 20px 0;
}

#resultadoBusqueda h4{
	font: italic bold normal 25px Tahoma;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

#resultadoBusqueda .marcoDistribuidora > h4{
	padding: 0 10px 10px;
}

#resultadoBusqueda .marcoDistribuidora{
	border: 1px solid;
	margin: 40px 20px;
	padding: 10px 0px 20px;
}

#resultadoBusqueda .resultados .titulos{
	overflow: hidden;
	border: 1px solid #CCC;
}

#resultadoBusqueda .resultados .titulos > div{
	font-weight: 800;
	float: left;
	height: 25px;
	line-height: 24px;
	text-align: center;
	border-right: 1px solid #CCC;
}

#resultadoBusqueda .resultados .titulos .ISBNREFTitulo{
	width: 15%;
}

#resultadoBusqueda .resultados .titulos .NombreTitulo{
	width: 52.5%;
}

#resultadoBusqueda .resultados .titulos .PrecioVentaTitulo{
	width: 7%;
}

#resultadoBusqueda .resultados .titulos .BaseImponibleTitulo{
	width: 7%;
}

#resultadoBusqueda .resultados .titulos .IVATitulo{
	width: 11%;
}

#resultadoBusqueda .resultados .titulos .MetodoPagoTitulo{
	border-right: 0px;
	width: 7%;
}

#resultadoBusqueda .resultados .existencias{
	overflow: hidden;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#resultadoBusqueda .resultados .existencias > div{
	float: left;
	height: 25px;
	line-height: 24px;
	text-align: center;
	border-right: 1px solid #CCC;
}

#resultadoBusqueda .resultados .existencias .ISBNREF{
	width: 15%;
}

#resultadoBusqueda .resultados .existencias .Nombre{
	width: 52.5%;
}

#resultadoBusqueda .resultados .existencias .PrecioVenta{
	width: 7%;
}

#resultadoBusqueda .resultados .existencias .BaseImponible{
	width: 7%;
}

#resultadoBusqueda .resultados .existencias .IVA{
	width: 11%;
}

#resultadoBusqueda .resultados .existencias .MetodoPago{
	border-right: 0px;
	width: 7%;
}

#resultadoBusqueda .totales .titulos{
	overflow: hidden;
	border: 1px solid #CCC;
}

#resultadoBusqueda .totales .titulos > div{
	font-weight: 800;
	float: left;
	width: 33%;
	height: 25px;
	line-height: 24px;
	text-align: center;
	border-right: 1px solid #CCC;
}

#resultadoBusqueda .totales .titulos .TotalIVATitulo{
	border-right: 0px;
}

#resultadoBusqueda .totales .existencias{
	overflow: hidden;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#resultadoBusqueda .totales .existencias > div{
	float: left;
	width: 33%;
	height: 25px;
	line-height: 24px;
	text-align: center;
	border-right: 1px solid #CCC;
}

#resultadoBusqueda .totales .existencias .TotalIVA{
	border-right: 0px;
}

#resultadoBusqueda .filaUno{
	background: #EEE;
	color: #777;
}

#resultadoBusqueda .filaUno:hover{
	background: #AAA;
	color: #FFF;
}

#resultadoBusqueda .filaDos{
	background: #f3f3f3;
	color: #777;
}

#resultadoBusqueda .filaDos:hover{
	background: #AAA;
	color: #FFF;
}

#contenedor.impresion{
	margin: 0px !important;
	padding: 0px !important;
	background: #fff;	
}

#cuerpo.impresion{
	margin: 0px !important;
	padding: 0px !important;
}

#contenido.impresion{
	margin: 0px !important;
	padding: 0px !important;
	border-radius: 0px !important;
	border: 0px solid !important;
}

#resultadoBusqueda.impresion{
	margin: 0px !important;
	padding: 0px !important;
	border-radius: 0px !important;
	border: 0px solid !important;
}

#resultadoBusqueda.impresion h3{
	margin: 10px 20px;
}

#resultadoBusqueda.impresion .resultados .existencias .ISBNREF{
	width: 15%;
}

#resultadoBusqueda.impresion .resultados .existencias .Nombre{
	width: 50%;
}

#resultadoBusqueda.impresion .resultados .existencias .PrecioVenta{
	width: 7%;
}

#resultadoBusqueda.impresion .resultados .existencias .BaseImponible{
	width: 7%;
}

#resultadoBusqueda.impresion .resultados .existencias .IVA{
	width: 11%;
}

#resultadoBusqueda.impresion .resultados .existencias .MetodoPago{
	border-right: 0px;
	width: 9%;
}

#resultadoBusqueda.impresion .resultados .titulos .ISBNREFTitulo{
	width: 15%;
}

#resultadoBusqueda.impresion .resultados .titulos .NombreTitulo{
	width: 50%;
}

#resultadoBusqueda.impresion .resultados .titulos .PrecioVentaTitulo{
	width: 7%;
}

#resultadoBusqueda.impresion .resultados .titulos .BaseImponibleTitulo{
	width: 7%;
}

#resultadoBusqueda.impresion .resultados .titulos .IVATitulo{
	width: 11%;
}

#resultadoBusqueda.impresion .resultados .titulos .MetodoPagoTitulo{
	border-right: 0px;
	width: 9%;
}

#BotonImpresion{
	width: 80px;
	text-align: center;
	padding: 7px 15px;
	background: #617798;
	border: 0;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	display: block;	
}