{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('bundles/rgmelibreriaindex/css/estilo.css') }}" type="text/css" rel="stylesheet" />
	<link href="http://code.jquery.com/ui/1.10.3/themes/overcast/jquery-ui.css" type="text/css" rel="stylesheet" />
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{{ asset('bundles/rgmelibreriaindex/js/timepicker.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="contenedor">
		{% block contenedor %}{% endblock %}
				
		{% include 'RGMELibreriaIndexBundle::flashes.html.twig' %}
		
		{% if vm is defined %}
			{% include 'RGMELibreriaIndexBundle:VentanaModal:ventana.html.twig' %}
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}			
	{% javascripts '@RGMELibreriaIndexBundle/Resources/public/js/main.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}			
	{% javascripts '@RGMELibreriaIndexBundle/Resources/public/js/ventanaModal.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}