{% if app.session.started %}
	{% for flashMessage in app.session.flashbag.get('info') %}
		<div id="flash" class="info">
			<div onclick="cerrarInfo(flash)">{{ flashMessage }}</div>
		</div>
		<script>
			$flash = $('#flash');

			jQuery(document).ready(function(){
				$flash.css('top', '100%');
				setTimeout(desaparece, 4500);
				});


			function desaparece(){
				$flash.css('opacity', '0');
				}
		</script>
	{% endfor %}
{% endif %}