<ul>
	<li><a href="{{ path('rgarcia_entrelineas_index_homepage') }}">Inicio</a></li>
	<li><a href="#">Administracion</a></li>
	<li><a href="#">Ventas</a></li>
	<li><a href="#">Contabilidad</a></li>
	<li><a href="{{ path('rgarcia_entrelineas_usuario_homepage') }}">Panel de Control</a></li>
	<li><a href="{{ path('rgarcia_entrelineas_usuario_logout') }}">Salir</a></li>
</ul>