<div class='fecha'>
	<div class='wrap_datosFecha'>
		<div class='c2 izq'><input type='text' class='dateJquery' name='fechaVencimiento' value='xx/xx/xxxx'></div>
		<div class='c2 der'><input type='text' name='cuantiaVencimiento' value='x.xxx,xx'> €</div>
	</div>
	
	<div class='wrap_botonBorrarFecha'>X</div>
</div>