<div class='wrap_iva'>
	<div class='iva'>4%</div>
	<div class='totales'>
		<div class='base'>
			<div class='clave'>Base imponible</div>
			<div class='valor'>x.xxx,xx €</div>
		</div>
		<div class='imp'>
			<div class='clave'>Impuesto</div>
			<div class='valor'>xx,xx €</div>
		</div>
	</div>
</div>