<div class='item'>
	<h3 class='wrap_datosItem_concepto'>
		<div class='wrap_botonBorrarItem der'>X</div>
		<input class='datosItem_concepto der' type='text' name='concepto' value='Concepto'>
	</h3>

	<div class='wrap_datosItem'>
		<div class='c4 izq'><input type='text' name='cantidad' value='Cantidad'></div>
		<div class='c4 izq'><input type='text' name='precio' value='Precio'> €</div>
		<div class='c4 izq'><input type='text' name='iva' value='IVA'> %</div>
		<div class='c4 der'><input type='text' name='desc' value='Desc.'> %</div>
	</div>
	
	
	<div class='wrap_infoItem der c5'>
		Total: <span class='totalItem'>x.xxx,xx</span> €
	</div>
</div>