* {
	margin: 0px;
	padding: 0px;
	
	font: normal 11px Verdana, Tahoma, sans-serif; 
}

body
{
	position:relative;
	background:#DDD;
	width:100%;
	 
	color: #999999;
}

input[type="submit"] {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}

input{
	padding: 9px;
	border: 1px solid #E5E5E5;
	outline: 0;
	font: normal 11px/100% Verdana, Tahoma, sans-serif;
	
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

#contenedor
{
	position:relative;
	overflow:hidden;
	min-width:800px;
	margin:0 5px;
	padding:0;
}

a
{
	color:#525252;
	text-decoration:none;
}

.desaparece
{
	opacity:0;
	transition:opacity .3s;
	transition-delay:0;
}

#barra:hover .desaparece
{
	opacity:1;
	transition:opacity .3s;
	transition-delay:.2s;
}

.editar{
	background: url('../../images/edit.png') no-repeat center center;
}

.borrar{
	background: url('../../images/borrar.png') no-repeat center center;
}

.crear{
	background: url('../../images/nuevo.png') no-repeat center center;
	
	background-size: 33px 30px !important;
		
	float: right;
}

.editar, .borrar, .crear{
	background-size: 20px 20px;
	display: block;
	height: 22px;
	width: 22px;
	text-indent: -9999px;
}

#flash{
	position: absolute;
	border: 1px solid;
	
	background: #FFF;
	padding: 10px;
	border-radius: 3px;
	
	top: -40px;
	right: 15px;
	transition: top 4s, opacity 1s;
	
	z-index: 99999999;
}

@media screen and (max-width: 1050px) {
		
	#barra:hover
	{
		padding-top:30px;
	}
	
	header#barra
	{
		background:url('../../images/titulobarra2.png') center bottom no-repeat #FFF;
	}
}