@import url('forms/forms.css');

.ventanaModal
{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	transition:all 1s;
	background:rgba(0,0,0,0.8);
	opacity:1;
	z-index:1000000;
}

.vm_contenedor
{
	width:800px;
	max-height:85%;
	position:relative;
	overflow:auto;
	z-index:1000001;
	background:#FFF;
	border-radius:10px;
	margin:50px auto 0;
	padding:5px;
	padding-bottom: 15px;
}

.vm_cierre
{
	float:right;
	display:block;
	border-radius:10px;
	background:#444;
	transition:all 1s;
	cursor: pointer;
	color:#DDD;
	font:normal normal bold 10px Verdana;
	margin:-4px 10px 5px;
	padding:5px 10px;
}

.vm_cierre:hover
{
	font-size:15px;
	margin-top:-6.5px;
	margin-right:8.5px;
}

.vm_header
{
	font:normal normal bold 15px Verdana;
	border-bottom:1px solid #777;
	padding:10px 0 10px 10px;
	color: #000;
}