*{
	outline: 0;
}

h1{
	font-size: 16px;
	font-weight: 800;

	border-bottom: 1px solid;

	margin: 5px 0px 20px;
	padding-left: 5px;
}

.datos-albaran, #jaula-libros{
	border: 1px solid;

	margin: 0px 20px 40px;
	padding: 5px;

	border-radius: 5px;
}

.datos-albaran h2, #jaula-libros h2{
	border-bottom: 1px solid;

	font-size: 13px;
	font-weight: 800;

	margin: 0px 0px 10px;
	padding-top: 5px;
	padding-left: 10px;
}

#formulario-datos-albaran{
	position: relative;
	overflow: hidden;

	width: 740px;
	margin: 0 auto;
}

#formulario-datos-albaran div{
	width: 350px;
	padding: 10px;
}

.numero, .contrato{
	float: left;
}

.fecha-realizacion, .fecha-vencimiento, .botonActualizar, .estado{
	float: right;
}

.separador{
	height: 10px;
	width: 100% !important;
}

.botonActualizar{
	display: block;
	margin-right: 30px;
	margin-bottom: 10px;
}

.clear{
	clear: both;
}

#formulario-datos-albaran div select{
	height: 30px;
}

#formulario-datos-albaran div input, #formulario-datos-albaran div select{
	float: right;
	margin-right: 20px;
}

#formulario-datos-albaran div label{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.botonAnadir, .borrarLibro, .anadirEjemplar, .ejemplar > h5 .borrarEjemplar{
	float: right;
	margin-right: 11px;

	border: 1px solid;
	border-radius: 5px;

	width: 15px;
	height: 15px;
	line-height: 15px;

	text-align: center;
	cursor: pointer;
}

.borrarLibro{
	margin-right: 5px !important;
}

.tituloAcordeon{
	width: 300px !important;
}

.editorialAcordeon{
	width: 150px !important;
}

.tituloAcordeon, .isbnAcordeon, .editorialAcordeon{
	height: 15px !important;
	width: 80px;
	font-size: 10px !important;
	color: #666;
	padding: 0px 5px;
	margin: 0px;
}

.estadoAcordeon, .ejemplar > h5 .estadoEjemplar{
	height: 17px;
	width: 17px;

	float: right;
	border-radius: 5px;
	margin-right: 5px;
}

.estado{
	width: 20px !important;
	text-indent: -9999px;
}

.sinActualizar{
	background: transparent url(../images/save_icon.png) no-repeat center center;
	border-radius: 0px;
	margin-top: -1px;
}

.actualizado{
	background: transparent url(../images/right_icon.png) no-repeat center center;
	background-size: 19px 19px;
	border-radius: 0px;
}

.porGuardar{
	border: 1px solid #c66 !important;
}

#jaula-libros{
	display: none;
}

.ejemplares{
	margin-bottom: 5px !important;
	
	display: none;
}

.datos, .ejemplares{
	width: 740px;
	margin: 0 auto;
	
	padding-bottom: 10px;
	margin-bottom: 20px;
	
	overflow: hidden;
}

.datos .jaula-datos-libro{
	overflow: hidden;
}

.ejemplares h4{
	padding-top: 5px;
}

.datos h4, .ejemplares h4{
	margin-bottom: 10px;
	border-bottom: 1px solid #999999;
	font-size: 14px;
	font-weight: 800;
	color: #444;
}

.datos .jaula-datos-libro-isbn{
	margin-bottom: 20px;
}

.datos .jaula-datos-libro-titulo{
	clear: both;
	width: 450px !important;
}

.datos .jaula-datos-libro-titulo .datos-libro-input{
	width: 373px !important;
}

.datos .jaula-datos-texto, .datos .jaula-datos-entidades{
	margin-bottom: 20px;
	overflow: hidden;
}

.datos .jaula-datos-texto > div{
	float: left;
	width: 205px;
	padding: 0 20px;
}

.datos .datos-libro-titulo{
	display: block;
	float: left;
	margin-top: 8px;
	width: 45px;
	text-align: right;
}

.datos .datos-libro-input{
	float: right;
}

.datos .ultimo{
	float: right !important;
}

.datos .jaula-datos-entidades > div{
	float: left;
	width: 330px;
	padding: 0 20px;
}

.datos .cajaEleccionEntidades{
	width: 250px !important;
	border: 1px solid #c9c9c9;
	box-shadow: rgba(0,0,0,0.15) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.15) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.15) 0px 0px 8px;
	
	color: #999;
	
	background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEE), to(#FFF));
	background: -moz-linera-gradient(top, #FFF, #EEE 1px, #FFF 25px);
}

.jaula-datos-libro input[type="submit"]{
	float: right;
	margin-right: 20px;
	margin-bottom: 10px;
}

.ejemplar{
	overflow: hidden;
}

.ejemplar > h5{
	overflow: hidden;
}

.ejemplar .jaula-ejemplar-titulo, .ejemplar .jaula-ejemplar-localizacion{
	float: left;
}

.ejemplar .jaula-ejemplar-titulo{
	font-weight: 800;
	margin: 2px 50px 0px 5px;
}

.ejemplar .jaula-ejemplar-localizacion label{
	font-weight: 800;
	margin-right: 10px;
}

.ejemplar .cuerpo-ejemplar-estados{
	margin-bottom: 0px !important;
}

.ejemplar .cuerpo-ejemplar-datos, .ejemplar .cuerpo-ejemplar-estados{
	width: 690px;
	overflow: hidden;
	margin-bottom: 20px;
}

.ejemplar .cuerpo-ejemplar-datos > div{
	width: 220px;
	float: left;
	text-align: right;
	padding-right: 5px;
}

.ejemplar .cuerpo-ejemplar-datos > div > label,
.ejemplar .cuerpo-ejemplar-datos .porcentaje,
.ejemplar .cuerpo-ejemplar-datos .moneda{
	margin-right: 5px;
}

.ejemplar .cuerpo-ejemplar-datos .moneda{
	width: 100px;
}

.ejemplar .cuerpo-ejemplar-datos .porcentaje{
	width: 40px;
	text-align: right;
}

.ejemplar .cuerpo-ejemplar-datos .precio{
	width: 170px;
}

.ejemplar .cuerpo-ejemplar-datos .iva{
	width: 100px;
}

.ejemplar .cuerpo-ejemplar-datos .descuento{
	width: 130px;
}

.ejemplar .cuerpo-ejemplar-datos .jaula-ejemplar-dato{
	margin: 0 auto;
}

.ejemplar .cuerpo-ejemplar-datos .ultimo{
	float: right !important;
}

.cuerpo-ejemplar-estados .jaula-cuerpo-ejemplar-estados{
	width: 200px;
	margin: 0 auto;
}

.cuerpo-ejemplar-estados .jaula-cuerpo-ejemplar-estados > div{
	margin-bottom: 10px;
	overflow: hidden;
	padding: 5px 10px;
	border-bottom: 1px solid #999;
}

.jaula-cuerpo-ejemplar-estados > div > input{
	float: left;
}

.jaula-cuerpo-ejemplar-estados > div > label{
	float: right;
	display: block;
}

.jaula-ejemplares-libro .jaula-ejemplares{
	display: none;
}