*{
	outline: 0;
}

h1{
	font-size: 16px;
	font-weight: 800;

	border-bottom: 1px solid;

	margin: 5px 0px 20px;
	padding-left: 5px;
}

.datos-albaran, .jaula-libros{
	border: 1px solid;

	margin: 0px 20px 5px;
	padding: 5px;

	border-radius: 5px;
}

.datos-albaran h2, .jaula-libros h2{
	border-bottom: 1px solid;

	font-size: 13px;
	font-weight: 800;

	margin: 0px 0px 10px;
	padding-top: 5px;
	padding-left: 10px;
}

#formulario-datos-albaran{
	position: relative;
	overflow: hidden;

	width: 740px;
	margin: 0 auto;
}

#formulario-datos-albaran div{
	width: 350px;
	padding: 10px;
}

.numero, .contrato{
	float: left;
}

.fecha-realizacion, .fecha-vencimiento, .botonActualizar, .estado{
	float: right;
}

.separador{
	height: 10px;
	width: 100% !important;
}

.botonActualizar{
	display: block;
	margin-right: 30px;
	margin-bottom: 10px;
}

.clear{
	clear: both;
}

#formulario-datos-albaran div select{
	height: 30px;
}

#formulario-datos-albaran div input, #formulario-datos-albaran div select{
	float: right;
	margin-right: 20px;
}

#formulario-datos-albaran div label{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.botonAnadir, .borrarLibro{
	float: right;
	margin-right: 11px;

	border: 1px solid;
	border-radius: 5px;

	width: 15px;
	height: 15px;
	line-height: 15px;

	text-align: center;
	cursor: pointer;
}

.borrarLibro{
	margin-right: 5px !important;
}

.tituloAcordeon{
	width: 300px !important;
}

.editorialAcordeon{
	width: 150px !important;
}

.tituloAcordeon, .isbnAcordeon, .editorialAcordeon{
	height: 15px !important;
	width: 80px;
	font-size: 10px !important;
	color: #666;
	padding: 0px 5px;
	margin: 0px;
}

.estadoAcordeon{
	height: 17px;
	width: 17px;

	float: right;
	border-radius: 5px;
	margin-right: 5px;
}

.sinActualizar{
}

.estado{
	width: 20px !important;
	text-indent: -9999px;
}

.enProceso{
	background: transparent url(../images/save_icon.png) no-repeat center center;
	border-radius: 0px;
	margin-top: -1px;
}

.actualizado{
	background: transparent url(../images/right_icon.png) no-repeat center center;
	background-size: 19px 19px;
	border-radius: 0px;
}

.porGuardar{
	border: 1px solid #c66 !important;
}

.jaula-libros{
	display: none;
}
