*{
	outline: 0;
}

h1{
	font-size: 16px;
	font-weight: 800;

	border-bottom: 1px solid;

	margin: 5px 0px 20px;
	padding-left: 5px;
}

h3.ui-accordion-header{
	overflow: hidden;
}

.datos-albaran, #jaula-libros{
	border: 1px solid;

	margin: 0px 20px 40px;
	padding: 5px;

	border-radius: 5px;
}

.datos-albaran h2, #jaula-libros h2{
	border-bottom: 1px solid;

	font-size: 13px;
	font-weight: 800;

	margin: 0px 0px 10px;
	padding-top: 5px;
	padding-left: 10px;
}

#formulario-datos-albaran{
	position: relative;
	overflow: hidden;

	width: 740px;
	margin: 0 auto;
}

#formulario-datos-albaran div{
	width: 350px;
	padding: 10px;
}

.numero, .contrato{
	float: left;
}

.fecha-realizacion, .fecha-vencimiento, .botonActualizar, .estado{
	float: right;
}

.separador{
	height: 10px;
	width: 100% !important;
}

.botonActualizar{
	display: block;
	margin-right: 30px;
	margin-bottom: 10px;
}

.clear{
	clear: both;
}

#formulario-datos-albaran div select{
	height: 30px;
	width: 156px;
}

#formulario-datos-albaran div input, #formulario-datos-albaran div select{
	float: right;
	margin-right: 20px;
}

#formulario-datos-albaran div label{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.anadirExistencia{
	margin-top: 0px !important;
}

#albaran-estado-global{
	margin-top: -4px;
}

.tipo-item{
	float: left;
	margin-top: 2px;
	margin-right: 5px;
	margin-left: 3px;
	font-weight: 800;
	width: 50px;
}

.anadirLibro, .anadirArticulo, .anadirExistenciasMasivas{
	width: 100px !important;
}

.boton, .botonAnadir, .borrarLibro, .borrarArticulo, .anadirExistencia, .existencia > h5 .borrarExistencia{
	float: right;
	margin-right: 11px;

	padding: 2px;
	margin-top: -2px;
	border-radius: 5px;

	width: 15px;
	height: 15px;
	line-height: 15px;

	text-align: center;
	cursor: pointer;
	
	background-color: #617798;
	color: #FFF;
	border: 0;
}

.borrarLibro, .borrarArticulo, .borrarExistencia{
	margin-right: 5px !important;
	margin-left: 10px;
}

.tituloAcordeon{
	width: 300px !important;
}

.editorialAcordeon{
	width: 150px !important;
}

.tituloAcordeon, .isbnAcordeon, .refAcordeon, .editorialAcordeon{
	height: 15px !important;
	float: left;
	margin-right: 10px;
	width: 100px;
	text-align: center;
	font-size: 10px !important;
	color: #666;
	padding: 0px 5px;
}

.estado, .estadoGlobal, .estadoExistencia{
	height: 17px;
	width: 17px;

	float: right;
	border-radius: 5px;
	margin-right: 5px;
	
	line-height: 15px;
}

.estado{
	width: 70px !important;
	padding: 7px 0px !important;
	margin-right: 20px;
}

.estadoExistencia{
	width: 60px !important;
	line-height: 20px;
}

.estadoGlobal{
	width: 105px !important;
}

.sinActualizar{
	background: transparent url(../images/save_icon.png) no-repeat right center;
	border-radius: 0px;
	margin-top: -1px;
}

.actualizado{
	background: transparent url(../images/right_icon.png) no-repeat right center;
	background-size: 19px 19px;
	border-radius: 0px;
}

.porGuardar{
	border: 1px solid #c66 !important;
}

#jaula-libros{
	display: none;
}

.existencias{
	margin-bottom: 5px !important;
	
	display: none;
}

.datos, .existencias{
	width: 740px;
	margin: 0 auto;
	
	padding-bottom: 10px;
	margin-bottom: 20px;
	
	overflow: hidden;
}

.datos .jaula-datos-libro, .datos .jaula-datos-articulo{
	overflow: hidden;
}

.existencias h4{
	padding-top: 5px;
}

.existencias .titulo-masivo{
	height: 16px;
	margin-bottom: 0px;
}

.datos h4, .existencias h4{
	margin-bottom: 10px;
	border-bottom: 1px solid #999999;
	font-size: 14px;
	font-weight: 800;
	color: #444;
}

.datos .jaula-datos-libro-isbn, .datos .jaula-datos-articulo-ref{
	margin-bottom: 20px;
}

.datos .jaula-datos-libro-titulo, .datos .jaula-datos-articulo-titulo{
	clear: both;
	width: 450px !important;
}

.datos .jaula-datos-libro-titulo .datos-libro-input, .datos .jaula-datos-articulo-titulo .datos-articulo-input{
	width: 373px !important;
}

.datos .jaula-datos-texto, .datos .jaula-datos-entidades{
	margin-bottom: 20px;
	overflow: hidden;
}

.datos .jaula-datos-texto > div{
	float: left;
	width: 205px;
	padding: 0 20px;
}

.datos .datos-libro-titulo, .datos .datos-articulo-titulo{
	display: block;
	float: left;
	margin-top: 8px;
	width: 45px;
	text-align: right;
}

.datos .datos-libro-input, .datos .datos-articulo-input{
	float: right;
	width: 128px;
}

.datos .ultimo{
	float: right !important;
}

.datos .jaula-datos-entidades > div{
	float: left;
	width: 330px;
	padding: 0 20px;
}

.datos .cajaEleccionEntidades{
	width: 250px !important;
	border: 1px solid #c9c9c9;
	box-shadow: rgba(0,0,0,0.15) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.15) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.15) 0px 0px 8px;
	
	color: #999;
	
	background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEE), to(#FFF));
	background: -moz-linera-gradient(top, #FFF, #EEE 1px, #FFF 25px);
}

.jaula-datos-libro input[type="submit"], .jaula-datos-articulo input[type="submit"]{
	float: right;
	margin-right: 20px;
	margin-bottom: 10px;
}

.existencia{
	overflow: hidden;
}

.existencia > h5{
	overflow: hidden;
}

.existencia .jaula-existencia-titulo, .existencia .jaula-existencia-localizacion{
	float: left;
}

.existencia .jaula-existencia-titulo{
	font-weight: 800;
	margin: 2px 50px 0px 5px;
	width: 170px;
}

.existencia .jaula-existencia-localizacion label{
	font-weight: 800;
	margin-right: 10px;
}

.existencia .cuerpo-existencia-estados{
	margin-bottom: 0px !important;
}

.existencia .cuerpo-existencia-datos, .existencia .cuerpo-existencia-estados{
	width: 690px;
	overflow: hidden;
	margin-bottom: 20px;
}

.existencia .cuerpo-existencia-datos > div{
	width: 220px;
	float: left;
	text-align: right;
	padding-right: 5px;
}

.existencia .cuerpo-existencia-datos > div > label,
.existencia .cuerpo-existencia-datos .porcentaje,
.existencia .cuerpo-existencia-datos .moneda{
	margin-right: 5px;
}

.existencia .cuerpo-existencia-datos .moneda{
	width: 100px;
	text-align: right;
}

.existencia .cuerpo-existencia-datos .porcentaje{
	width: 40px;
	text-align: right;
}

.existencia .cuerpo-existencia-datos .precio{
	width: 200px;
}

.existencia .cuerpo-existencia-datos .precio label{
	display: block;
	overflow: hidden;
	width: 50px;
	float: left;
	margin-top: 3px;
}

.existencia .cuerpo-existencia-datos .precio p{
	display: block;
	float: left;
	width: 50px;
}

.existencia .cuerpo-existencia-datos .iva{
	width: 105px;
}

.existencia .cuerpo-existencia-datos .beneficio{
	width: 174px;
	margin-bottom: 5px !important;
}

.iva select{
	height: 33px;
	width: 80px;
}

.existencia .cuerpo-existencia-datos .descuento{
	width: 145px;
}

.existencia .cuerpo-existencia-datos .jaula-existencia-dato{
	margin: 0 auto;
}

.existencia .cuerpo-existencia-datos .ultimo{
	float: right !important;
	clear: both;
}

.existencias .jaula-existencias-masivo{
	margin-bottom: 20px;
}

.cuerpo-existencia-estados .jaula-cuerpo-existencia-estados{
	width: 200px;
	margin: 0 auto;
}

.cuerpo-existencia-estados .jaula-cuerpo-existencia-estados > div{
	margin-bottom: 10px;
	overflow: hidden;
	padding: 5px 10px;
	border-bottom: 1px solid #999;
}

.jaula-cuerpo-existencia-estados > div > input{
	float: left;
}

.jaula-cuerpo-existencia-estados > div > label{
	float: right;
	display: block;
}

.botonCopiarInfo{
	float: left !important;
	width: 80px !important;
	background-color: #617798;
	color: #FFF;
	border: 0;
	padding: 2px;
	margin-top: -2px;
	line-height: 15px;
	font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
}