{% extends 'RGMELibreriaIndexBundle::layout.html.twig' %}

{% block contenido %}
	<a title="Crear nuevo libro" class="crear" href="{{ path(ruta_form_crear) }}">Crear nuevo libro</a>
	{% include 'RGMELibreriaIndexBundle:Grid:grid.html.twig' %}
{% endblock %}