{% extends 'RGMELibreriaLibroBundle:Libro:seccion.html.twig' %}
	
{% block contenido %}
	<a title="Crear Nuevo Libro" class="crear" href="{{ path('rgarcia_entrelineas_libro_crear') }}">Crear Nuevo Libro</a>
	Libros		
	
	{% include 'RGMELibreriaIndexBundle::grid.html.twig' %}
    
    {% block ventana_modal %}{% endblock %}
{% endblock %}