<div class="item">
	<div class="item_contenido primero">
		<input type="text" onfocus="funcion_onfocus(this, 'ISBN / REF');" onblur="funcion_onblur(this, 'ISBN / REF');" value="ISBN / REF">
	</div>			
	<div class="item_contenido item_titulo">
		<input type="text" onfocus="funcion_onfocus(this, 'Titulo');" onblur="funcion_onblur(this, 'Titulo');" value="Titulo">
	</div>
	<div class="item_contenido item_unidades">
		<input type="text" onfocus="funcion_onfocus(this, 'Unid.');" onblur="funcion_onblur(this, 'Unid.');" value="Unid.">
	</div>
	<div class="item_contenido item_precio">
		<input type="text" onfocus="funcion_onfocus(this, 'Precio');" onblur="funcion_onblur(this, 'Precio');" value="Precio">€
	</div>
	<div class="item_contenido item_iva">
		<input type="text" onfocus="funcion_onfocus(this, 'IVA');" onblur="funcion_onblur(this, 'IVA');" value="IVA">%
	</div>
	<div class="item_contenido item_descuento">
		<input type="text" onfocus="funcion_onfocus(this, 'Desc.');" onblur="funcion_onblur(this, 'Desc.');" value="Desc.">%
	</div>
	
	<input type="submit" class="boton borrar_Articulo" value="-">
</div>